@keyframes fadeToBlack {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeFromBlack {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  pointer-events: none;
  z-index: 9999;
  opacity: 0;

  &.closing {
    animation: fadeToBlack 0.45s ease-in-out forwards;
  }

  &.opening {
    animation: fadeFromBlack 0.45s ease-in-out forwards;
  }
}

.tarifs-room .reservation-card:hover {
  background-color: transparent;
  border-radius: 0;
}
