.tarifs-giftcard {
  max-width: 400px;
  border-radius: 20px;
  object-fit: cover;
}

.tarifs-page-text {
  margin-bottom: 50px;
}

.tarifs-btn-center {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}
