@import "bootstrap/scss/bootstrap-grid";
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --white: #ffffff;
  --black: #000000;
  --accent: #00a9a1;
  --accent-light: #67c5c0;
  --zone: rgba(235, 239, 242, 0.15);
  --blue: #4abcc9;
  --green: #3f8d00;
  --red: #e10000;
  --pink: #b43b7d;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Funnel Display";
  font-size: 24px;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

h1 {
  color: var(--white);
  font-family: "Kode Mono";
  font-size: 64px;
  font-weight: 500;
  margin: 50px 0;
}

h2 {
  color: var(--white);
  text-align: center;
  font-family: "Kode Mono";
  font-size: 32px;
  font-weight: 500;
}

li {
  list-style: none;
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

a {
  display: inline-block;
  padding: 15px 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--white);
    transition:
      width 0.3s ease,
      left 0.3s ease;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}

input {
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 25px;
}

input[type="radio"] {
  accent-color: var(--accent);
  width: 20px;
  height: 20px;
  scale: 1.2;
}

.banner {
  padding: 50px 0;
  background-image: url("../img/img-banner-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.room-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

label {
  color: var(--accent);
  font-size: 20px;
}

#canvas3d {
  width: 100%;
  height: 90vh;
  display: block;
  background-color: var(--black);
}

// .glass-rectangle {
//   width: 600px;
//   height: 70px;
//   margin-top: -230px;
//   background: rgba(255, 255, 255, 0.15);
//   backdrop-filter: blur(15px);
//   -webkit-backdrop-filter: blur(15px);
//   margin-left: 30px;
//   border-radius: 20px;
//   border: 1px solid rgba(255, 255, 255, 0.3);

//   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
