@font-face {
  font-family: "DoUbLeBaSs-Regular";
  src: url("../fonts/DoUbLeBaSs-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Panforte-Bold";
  src: url("../fonts/Panforte-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}
