@import "font";
@import "base";
@import "layout";
@import "modules/example";
@import "modules/header";
@import "modules/footer";
@import "modules/reservation";
@import "modules/salles";
@import "modules/button";
@import "modules/tarifs";
@import "modules/animations";
